@import "../../../../App.scss";

a{
  text-decoration: none;
  color:$primary;
}
.inventoryCard {
  //   @include mobile-padding;
  position: relative;
  border-bottom: 1px solid $inputBorder;
  @include tablet {
    // @include tablet-padding;

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }

  &__removeIcon {
    position: absolute;
    right:0;
    top:0;
    @include tablet{
      top:10px;
    }
  }
  &__contain{
    position:relative;
  }
  & h5 {
    // margin-right: -51px;
  }

  &__label-vertical {
    @include tablet {
      display: none;
    }
  }

  @include desktop {
    //   @include desktop-padding;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    align-items: baseline;
  }
  &__group {
    margin-bottom:0.5rem;
    @include tablet {
      margin-top:1rem;
      margin-bottom:1rem;
      width: 25%;
    }
    &-description {
      width: 35%;
      @include desktop {
        width: 27%;
        overflow: hidden;
      }
    }
  }
  @include desktop {
    // height: 5vh;
  }

  &__txt {
    margin-bottom: 0.2rem;
    @include tablet {
      margin-bottom: 0;
      font-size: 13px;
      line-height: 1.5rem;
      overflow: hidden;
    }

    @include desktop {
      font-size: 14px;
    }
  }
}
