@import "../../../../App.scss";
@import "../../../../partials/mixins";

@mixin mobile-padding {
    padding: 0 1rem;
  }
  
@mixin tablet-padding {
    padding: 0 2rem;
  }
  
@mixin desktop-padding {
    padding: 0 8rem;
  }

.locationDetailCard {
  position: relative;
  border-bottom: 1px solid $inputBorder;
  @include tablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }

  & h5 {
      margin-right: -51px;
  }

  &__label-vertical{
    @include tablet {
        display : none;
    }
}

  @include desktop {
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    align-items: baseline;
  }
  &__group {
    margin: 1rem 0;
    @include tablet {
      margin: 0;
      width: 25%;
      }
      &-description {
        width: 35%;
        @include desktop {
          width: 27%;
          overflow: hidden;
        }
      }
    }
    @include desktop {
      height: 5vh;
}
  
  &__txt {
    margin-bottom: 0.2rem;
    @include tablet {
      margin-bottom: 0;
      font-size: 13px;
      line-height: 1.5rem;
      overflow: hidden;
    }

    @include desktop {
      font-size: 14px;
    }
  }
}


  