@import "../../../../partials/mixins";
@import "../../../../partials/variables";
@import '../../../../partials/fonts';

.add-item{
  &__modal-overlay{
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__modal{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;

    @include tablet{
      height: 624px;
      width: 576px;
      border-radius: 4px;
    }
  }
}