@import '../../../../partials/variables';

.modal{
    background-color: white;
    color:black;

    &__button{
        width: 60px;
        height: 20px;
    }

    &__body{
        height:400px;
        width:400px;
        background-color: white;
    }
    &__button{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-image: url('../../../../assets/icons/Icon-add.svg') ;
        background-position: center;
        background-size: cover;
        height: 60px;
        width: 60px;
        border: none;
        text-decoration: none;
        background-color: $accent;


        
    }

}