$accent: #004892; // Primary CTA & Text link
$accentHover: #002F5F; //Primary CTA Hover
$accent-contrast: #ffffff;
$primary: #323232; //Navigation background fill + text color
$label: #fafafa;
$inputBorder: #e1e1e1;
$inputBg: #fafafa;
$divider: #004892;
$label: #afafaf;
$in-stock: rgb(122, 173, 59);
$out-of-stock: #e1e1e1;
$divider: #e1e1e1;